<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elcare">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ui.Home"
        android:allowBackup="true"
        android:icon="@mipmap/elcarelauncher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/elcarelauncher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.NewUserActivity" />
        <activity android:name=".ui.HealthDetailActivity" />
        <activity android:name=".ui.CurrentStatusActivity" />
        <activity android:name=".ui.MonitorActivity" />
        <activity android:name=".ui.UserDetailActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>